<mat-card class="mat-elevation-z3">
    <mat-card-header>

        <img mat-card-avatar src="../../../../assets/ticket-svgrepo-com1.svg" />

        <mat-card-title>Edit Ticket</mat-card-title>
        <mat-card-subtitle>Edit ticket entry</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="ticketForm" class="form-container" (ngSubmit)="save()">
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Passenger</mat-label>
                <mat-select formControlName="passengerId">
                    <mat-option *ngFor="let op of passenger" [value]="op.passengerId">{{op.passengerName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="ticketForm.controls['passengerId'].hasError('required')"><strong>Customer
                        name</strong> is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Journey Date</mat-label>
                <input matInput [matDatepicker]="picker"  formControlName="journeyDate" />
                <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="ticketForm.controls['journeyDate'].hasError('required')"><strong>Journey date</strong>
                    is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let op of categoryOptions" [value]="op.value">{{op.label}}</mat-option>
                </mat-select>
                <mat-error *ngIf="ticketForm.controls['category'].hasError('required')"><strong>Category</strong> is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="f-w mb-1">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
                <mat-error *ngIf="ticketForm.controls['price'].hasError('required')"><strong>Price</strong> is required</mat-error>              
            </mat-form-field>                    
            
            <div class="f-w f-w-flex">
                <h4>Items</h4><button type="button" mat-icon-button (click)="addItem()"><mat-icon>add</mat-icon></button>
            </div>
            <ng-container formArrayName="ticketItems">
                <ng-container *ngFor="let p of ticketItemsFormArray.controls; let i = index">
                    <div  [formGroupName]="i" class="item-row">

                        <mat-form-field class="f-w" appearance="fill">
                            <mat-label>Train Name</mat-label>
                            <mat-select formControlName="trainId">
                                <mat-option *ngFor="let p of train" [value]="p.trainId">{{p.trainName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="ticketItemsFormArray.controls[i].get('trainId')?.hasError('required')">Train id<strong> is required</strong></mat-error>
                          </mat-form-field>

                          <mat-form-field class="f-w" appearance="fill">
                            <mat-label>Quantity</mat-label>
                            <input matInput
                                   formControlName="quantity">
                            <mat-error *ngIf="ticketItemsFormArray.controls[i].get('quantity')?.hasError('required')">Quantity is <strong>required</strong></mat-error>
                          </mat-form-field>
                          <button type="button" mat-icon-button (click)="removeItem(i)"><mat-icon>delete</mat-icon>Delete</button>
                    </div>
                </ng-container>
            </ng-container>

            <div class="f-w">
                <button type="submit" mat-raised-button color="primary" [disabled]="ticketForm.invalid"><mat-icon>save</mat-icon>Update</button>
            </div>
        </form>
      

    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button [routerLink]="['/tickets']">Back to list</a>
    </mat-card-actions>
</mat-card>

