<p>home works!</p>
<div style="background-image: linear-gradient(to right, #50b884, rgb(221, 250, 189)); width: 1500px; height: 1000px;">
    <div>
        <h1 style="text-align:center; color:coral; padding: 0px;"><b>Train Ticket Project with Angular</b></h1>
        <h4 style="text-align: center; padding: 0px;">Powered by angular<sup>14</sup> + angular material</h4>
        <a>
            <img style="width:1250px; height:500px;" src="../../../../assets/train 02.jpg" />
        </a>
        <h3>About my project</h3>
        <div>
            <h4>Angular with master details view</h4>
            <ul>
                <li>ASP.NET Core with Angular</li>
                <li>ASP.NET Core with Api</li>
                <li>TypeScript</li>
                <li>jQuery</li>
            </ul>
        </div>             
        <br>
        <div style="color: rgb(4, 60, 245); font-size:xx-large;">Designed by:<b> MD. MAHIDUL MOLLA-1268459</b></div>
    </div>    
</div>
<!-- <div class="banner text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="card-title display-4">SPA With master Details view</h1>
                <div>
                    <span style="font-size:20px; padding-top:10px;">Technologies</span>
                </div>
                <ul>
                    <li>ASP.NET Core 6.0</li>
                    <li>Vanila JavaScript</li>
                    <li>jQuery</li>
                    <li>Bootstrap 5.2.2</li>
                    <li>Bootstrap-icons 1.9.1</li>
                    <li>Bootstrap-datepicker</li>
                </ul>
                <div class="card-footer">
                    <a asp-action="Index" asp-controller="Main" class="btn btn-primary">Click to go SAP</a>
                </div>
            </div>
            <div class="col-sm-7">
                <img class="align-items-end" style="width:100%; height:70%; border-radius:10px;"
                src="../../../../assets/train 02.jpg" />
            </div>
        </div>
    </div>
</div>

<style>
    .banner {
        background-image: linear-gradient(to right, #076585, #fff);
        width: 100%;
        padding: 2em 0;
    }

    .row {
        align-items: center;
    }

    .btn {
        padding: 0.5em 1.5em;
        border-radius: 2em;
    }
</style> -->
